@import 'variables';

$colors: (
  primary: $primary,
  secondary: $secondary,
  "orange": $orange,
  "white": $white,
);

@each $name, $value in $colors {
  .color-#{$name} {
    color: $value;
  }

  .bg-color-#{$name} {
    background-color: $value;
  }

  .br-color-#{$name} {
    border-color: $value;
  }

  .hover-bg-color-#{$name}:hover {
    background-color: $value;
  }
}
