$primary: rgb(104 139 172);
$light-primary: rgb(170 196 221);
$dark-primary: rgb(79 131 180);
$secondary: rgb(91 192 66);
$light-secondary: rgb(177 253 158);
$dark-secondary: rgb(73 168 50);
$white: white;
